@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --color-barra-lateral: #f3f3f3;
    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);
    --color-menu-hover:rgb(215, 215, 215);
    --color-menu-hover-texto:rgb (0,0,0);
    --color-boton: #7c3ed6;
    --color-boton-texto:rgb(255,255,255);
    --color-linea:rgb(213, 213, 213);
    --color-switch-base:rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);
    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
    --background-color:#d9d9d9;
    --fondo-flecha: #7c3ed6;
    --flecha: #fff;
    --fondo-botones-sidebar: #f3f3f3;
    --fondo-filtro-boton: #e6eef9;
    --color-texto-filtros: #000;
    --fondo-filtros: #fff;
    --color-subir-imagen:#000;
    --file-name: #5d5d5d;
    --nuevo: #000;
    --back-color-nuevo:#ececec;
    --back-elements-color:#a1a1a1;
    --fondo-elementos:#f3f3f3;
    --input-bg: #fff;
    --lupa: #646487;
    --element-back-color:#d6d6d6;
    --carta-cerrar-back: rgb(255, 255, 255);
    --color-boton-acceder: #9147ff;
    --fondo-scrollbar: #f1f1f1;
    --color-texto-elementos:#7c3ed6;
    --fondo-user-hover: #bebebe;
    --color-icono: #bb2424;
    --fondo-mensajes-privados: #fff;
    --texto: #000;
    --background-colorr:#f9f9f9;
    --fondo-input:#f9f9f9;
    --color-borde-input: #ddd;
    --back-edit-input:#fff;
    --background-input: #eeeeee;

}
.dark-mode{
    --color-barra-lateral: rgb(16, 16, 16);
    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,107);
    --color-menu-hover:rgb(30, 30, 30);
    --color-menu-hover-texto:rgb(238,238,238);
    --color-boton: #7c3ed6;
    --color-boton-texto:rgb(0,0,0);
    --color-linea:rgb(90,90,90);
    --color-switch-base:rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);
    --color-scroll:rgb(68,79,74);
    --color-scroll-hover:rgb(85,85,85);
    --background-color:rgb(37, 37, 37);
    --fondo-flecha: #7c3ed6;
    --flecha: #000;
    --fondo-filtro-boton: #2f2f2f;
    --color-texto-filtros: #fff;
    --fondo-filtros: #151515;
    --color-subir-imagen:#fff;
    --file-name: #a8a8a8;
    --nuevo: #ffffff;
    --back-color-nuevo:#686868;
    --back-elements-color:#404040;
    --fondo-elementos:#1d1d1d;
    --input-bg: #151515;
    --lupa-texto: #a5a5a5;
    --fondo-botones-sidebar: #0f0f0f;
    --element-back-color:#282b28;
    --carta-cerrar-back: rgb(21, 21, 21);
    --color-boton-acceder: #181818;
    --fondo-scrollbar: #141414;
    --color-texto-elementos:#fff;
    --fondo-user-hover: #262626;
    --color-icono: #7c7c7c;
    --fondo-mensajes-privados: #202020;
    --texto: #fff;
    --background-colorr:rgb(37, 37, 37);
    --fondo-input:#303030;
    --color-borde-input: #484848;
    --back-edit-input:#000;
    --background-input: #555;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
}

.contenedor{
    display: flex;
    height: 100vh; /* Asegúrate de que el contenedor ocupe el 100% de la altura de la ventana */
}

/*-------------------------------------------Main------------------------------------*/
main{
    padding: 20px;
    transition: margin-left 0.5s ease;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
}
main.min-main{
    transition: margin-left 0.5s;
}   
.menu {
    display: none;
}


/*BUTTON USUARIO*/
.button-usuario{
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}
.button-usuario:hover{
    background-color: var(--fondo-user-hover);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.main-content {
    flex: 1;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.profile-card {
    flex: 3; /* Mayor ancho para la información del perfil */
    background-color: var(--fondo-mensajes-privados);
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
    padding: 20px;
    position: relative;
}

.profile-pic-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.edit-button, .confirm-button {
    background-color: #7c3ed6;
    color: var(--input-bg);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-card.edit-mode .edit-button {
    display: none;
}

.profile-card.edit-mode .confirm-button {
    display: block;
}



.info-group label {
    display: block;
    margin-bottom: 5px;
    
}

.info-group input, .info-group select, .info-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-borde-input);
    
}


.FONDOPACIENTES{
    gap: 30px;
    margin-left: 10px;
    width: 100vh;
    height: 50px;
}

.messages-list::-webkit-scrollbar-thumb {
    background: #888; /* Color de la parte deslizable */
    border-radius: 10px;
}

.messages-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color al pasar el mouse */
}

textarea {
    resize: none;
}


/* Estilo para el borde violeta cuando se habilita la edición */
.info-group input:enabled,
.info-group select:enabled,
.info-group textarea:enabled {
    border: 1px solid #7c3ed6;  /* Camb ia el borde a violeta */
    outline: none; /* Opcional: elimina el borde por defecto del foco */
}

/* Si quieres que el borde vuelva a su color original cuando no está en edición */
.info-group input:disabled,
.info-group select:disabled,
.info-group textarea:disabled {
    border: 1px solid var(--color-borde-input); /* Color original del borde */
}

.info-group:last-child {
    border-bottom: none;
}

/* Texto del dato */
.info-group span {
    font-size: 16px;
    color: #6e6e6e;
}

/* Estilo del enlace de edición */
.info-group a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    transition: color 0.3s;
    background-color: #7c3ed6;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.info-group a:hover {
    color: #dfdfdf;
    background-color: #5c2ea2;
}

.info-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
    
}

.btnEditar{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    transition: color 0.3s;
    background-color: #7c3ed6;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.input-editar{
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--background-input);
}

.bx-chevron-left {
    color: #353535;
    font-size: 70px;
    left: 2%;
    top: 2%;
    cursor: pointer;
    height: 20px;
  }

  .bx-chevron-left:hover{
    color: #000000;
    transition: 0.2s;
    scale: 1.2;
  }

  #response {
    margin: 20px 0;
    font-size: 14px;
    color: #d9534f; /* Color rojo suave para errores */
    text-align: center;
    background-color: #f8d7da; /* Fondo claro para error */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #f5c6cb; /* Borde más oscuro para el error */
    display: none; /* Para ocultarlo inicialmente */
  }
  
  #response.show {
    display: block;
  }