* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e3edf7;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Alinea el contenido verticalmente */
}

.container {
    position: relative; /* Contenedor para el loader y el número */
    text-align: center; /* Centra el texto horizontalmente */
}

.loader {
    transform: rotateX(70deg);
}

.loader .element {
    display: flex;
    border-left: 5px solid rgb(120, 47, 255);
    border-right: 5px solid rgb(120, 47, 255);
    border-top: dotted 2px rgb(92, 5, 114);
    width: 10rem;
    height: 1rem;
    margin: 0.5rem;
    perspective: 1000px;
    animation: rotate 5s infinite linear;
    animation-delay: calc(var(--i) * 0.2s);
}

@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}

#number {
    margin-top: -100px; /* Espacio entre el loader y el número (ajustar este valor) */
}

#number h1 {
    font-weight: 600;
    color: #7c3ed6;
    font-size: 1.5rem; /* Tamaño del texto (ajustar este valor si es necesario) */
    margin: 0; /* Elimina el margen por defecto del h1 */
}
