* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(39,29,74,1) 29%, rgba(66,44,143,1) 77%, rgba(113,91,190,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    background: #ebebeb17;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.message {
    color: #333;
}

.message h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.sad-face {
    font-size: 4rem;
    margin-bottom: 20px;
}

.message p {
    font-size: 1rem;
    color: #cfcfcf;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgba(66,44,143,1);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #878787;
}
