@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --color-barra-lateral: #f3f3f3;

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover:rgb(236, 236, 236);
    --color-menu-hover-texto:rgb (0,0,0);

    --color-boton: rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(213, 213, 213);

    --color-switch-base:rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);

    --background-color:#d9d9d9;

    --fondo-flecha: #000;
    --flecha: #fff;

    --fondo-botones-sidebar: #f3f3f3;

    --fondo-filtro-boton: #e6eef9;
    --color-texto-filtros: #000;
    --fondo-filtros: #fff;

    --color-subir-imagen:#000;
    --file-name: #5d5d5d;
    --nuevo: #000;
    --back-color-nuevo:#ececec;
    --back-elements-color:#dddddd;
    --fondo-elementos:#f3f3f3;

    --input-bg: #fff;

    --lupa: #646487;
    --element-back-color:#d6d6d6;

    --carta-cerrar-back: rgb(255, 255, 255);

    --fondo-comunidad: #e9e9e9;
    --fondo-post: #f5f5f5;
    --iconos: #000000;
    --color-caja-texto: #f9f9f9;
    --color-texto: #fff;
    --contacto-texto: #000;
    --texto-post: #1d1d1d;
    
}
.dark-mode{
    --color-barra-lateral: rgb(16, 16, 16);

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,107);

    --color-menu-hover:rgb(8, 8, 8);
    --color-menu-hover-texto:rgb(238,238,238);

    --color-boton: rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);

    --color-linea:rgb(90,90,90);

    --color-switch-base:rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);

    --color-scroll:rgb(68,79,74);
    --color-scroll-hover:rgb(85,85,85);

    --background-color:rgb(37, 37, 37);

    --fondo-flecha: #fff;
    --flecha: #000;

    --fondo-filtro-boton: #2f2f2f;
    --color-texto-filtros: #fff;
    --fondo-filtros: #151515;

    --color-subir-imagen:#fff;
    --file-name: #a8a8a8;
    --nuevo: #ffffff;
    --back-color-nuevo:#686868;
    --back-elements-color:#404040;
    --fondo-elementos:#1d1d1d;

    --input-bg: #151515;

    --lupa-texto: #a5a5a5;

    --fondo-botones-sidebar: #0f0f0f;
    --element-back-color:#242824;

    --carta-cerrar-back: rgb(21, 21, 21);
    --fondo-comunidad: #141414;
    --fondo-post: #090909;
    --iconos: #ffffff;
    --color-caja-texto: #222222;
    --color-texto: #000;
    --contacto-texto: #fff;
    --texto-post: #d0d0d0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --color-barra-lateral: #f3f3f3;

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover:rgb(236, 236, 236);
    --color-menu-hover-texto:rgb (0,0,0);

    --color-boton: rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(213, 213, 213);

    --color-switch-base:rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);

    --background-color:#d9d9d9;

    --fondo-flecha: #000;
    --flecha: #fff;

    --fondo-botones-sidebar: #f3f3f3;

    --fondo-filtro-boton: #e6eef9;
    --color-texto-filtros: #000;
    --fondo-filtros: #fff;

    --color-subir-imagen:#000;
    --file-name: #5d5d5d;
    --nuevo: #000;
    --back-color-nuevo:#ececec;
    --back-elements-color:#dddddd;
    --fondo-elementos:#f3f3f3;

    --input-bg: #fff;

    --lupa: #646487;
    --element-back-color:#d6d6d6;
    --element-back-color-hover:#b2b2b2;
    
}
.dark-mode{
    --color-barra-lateral: rgb(16, 16, 16);

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,107);

    --color-menu-hover:rgb(8, 8, 8);
    --color-menu-hover-texto:rgb(238,238,238);

    --color-boton: rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);

    --color-linea:rgb(90,90,90);

    --color-switch-base:rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);

    --color-scroll:rgb(68,79,74);
    --color-scroll-hover:rgb(85,85,85);

    --background-color:rgb(37, 37, 37);

    --fondo-flecha: #fff;
    --flecha: #000;

    --fondo-filtro-boton: #2f2f2f;
    --color-texto-filtros: #fff;
    --fondo-filtros: #151515;

    --color-subir-imagen:#fff;
    --file-name: #a8a8a8;
    --nuevo: #ffffff;
    --back-color-nuevo:#686868;
    --back-elements-color:#404040;
    --fondo-elementos:#1d1d1d;

    --input-bg: #151515;

    --lupa-texto: #a5a5a5;

    --fondo-botones-sidebar: #0f0f0f;
    --element-back-color:#242824;
    --element-back-color-hover:#3d423d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}
/*-----------------Flecha-----------------------*/
.barra-lateral .bx-chevron-left {
    position: absolute;
    top: 7%; 
    right: -10px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--fondo-flecha);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--flecha);
    font-size: 20px;
    transition: var(--tran-05);
    cursor: pointer;
    transition: transform 0.3s ease;
}
/*------------Barra lateral----------------*/
.barra-lateral{
    width: 250px;
    height: 100%;
    background: var(--color-barra-lateral);
    left: 0; 
    top: 0; 
    padding: 20px 15px;
    z-index: 50; 
    transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}
.mini-barra-lateral{
    width: 80px;
}
.mini-barra-lateral .bx-chevron-left {
    transform: translateY(-50%) rotate(180deg);
}
.barra-lateral .nombre-pagina span.oculto{
        opacity: 0;
        display: none;
        transition: var(--tran-04);
}
/*Nombre de la pagina*/
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
/*Icono*/
.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina span{
    margin: 5px;
    font-size: 25px;
}
/*Texto botones barra lateral*/
.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 15px;
    margin-left: 5px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    display: flex;
    
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}
/*-----Componente malarIA nombre pagina-------------*/ 
.Malaria{
    font-size: 2em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.3);
    background: #222 -webkit-gradient(
        linear,
        left top,
        right top,
        from(#222),
        to(#222),
        color-stop(0.5, #fff)
    ) 0 0 no-repeat;
    background-image: -webkit-linear-gradient(
    -40deg,
    transparent 0%,
    transparent 40%,
    #fff 50%,
    transparent 60%,
    transparent 100%
    );
    -webkit-background-clip: text;
    -webkit-background-size: 50px;
    -webkit-animation: zezzz;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes zezzz {
    0%,
    10% {
    background-position: -200px;
    }
    20% {
    background-position: top left;
    }
    100% {
    background-position: 200px;
    }
}
/*-----------------------Boton------------------*/
.barra-lateral .boton{
    width: 100%;
    height: 50px;
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    margin: 20px 0;
    cursor: pointer;
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}
.barra-lateral .navegacion {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background: var(--fondo-botones-sidebar);
    color: var(--color-texto-menu);
    margin-top: 5px;
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}
/*Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 110px;
    background-color: var(--color-linea);
}
/*Modo oscuro*/
.barra-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{
    width: 50px;
    font-size: 20px;
}

.barra-lateral .modo-oscuro ion-icon.sunny-outline {
    opacity: 0;
}

body.barra-lateral .modo-oscuro ion-icon.sunny-outline {
    opacity: 1;
}
/*-----------------------Switch-------------------------*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--color-switch-base);
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    border-radius: 50%;
    right: 2px;
    transition: right 0.5s ease;
    background-color: var(--color-switch-circulo);
}
.barra-lateral .modo-oscuro .circulo.prendido{
right: 15px;
}
/*---------------------------Usuario-------------------------*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column  ;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
/*-------------------------------------------Main------------------------------------*/
main{
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}
/*Responsive*/
@media (max-height:660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}
@media (max-height: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}
.menu {
    display: none;
}
@media (max-width: 768px) {
    .menu {
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .barra-lateral.active ~ .menu ion-icon[name="menu-outline"] {
        display: none; 
    }
    .barra-lateral.active ~ .menu ion-icon[name="close-outline"] {
        display: block; 
    }
}
/*--------------------------Filtros-------------------------*/ 
.wrapper{
    width: 60%;
    margin: 0 6em ;
    transition: var(--tran-05);
    width: calc(100% - 250px);
    margin-left: 250px;
    transition: var(--tran-05);
    }
#buttons {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    font-size: 14px;
    line-height: 20px;
}
.container{
    padding-top: 1em;
}
/*--------------------------Search-------------------------*/ 
.form button {
    border: none;
    background: none;
    color: var(--lupa-texto);
}
.form {
    --timing: 0.3s;
    --width-of-input: 40em;
    --height-of-input: 40px;
    --border-height: 2px;
    --border-color: #9147ff;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg);
}
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}
.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}
.form:focus-within {
    border-radius: var(--after-border-radius);
}
input:focus {
    outline: none;
}
.form:focus-within:before {
    transform: scale(1);
}
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}
.form svg {
    width: 17px;
    margin-top: 3px;
}
input[type="search"] { 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}
.hide{
    display: none;
}
.container h5{
    font-weight: 500;
}
@media screen and (max-width: 720px){
    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card-element{
        max-width: 10em;
        margin-top: 1em;
    }
    #products{
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }  
}
.navbar-y-filtros {
    position: relative;
    z-index: 10;
}
/*CERRAR SESION*/
.card {
    width: 300px;
    height: fit-content;
    position: fixed;
    top: 68%;
    left: 14%;
    transform: translate(-50%, -50%) scale(0.8); 
    padding: 20px;
    background: var(--carta-cerrar-back);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2); /* Sombras más notorias para dar profundidad */
    border-radius: 20px;
    z-index: 100000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: opacity 0.4s ease, transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Transición más larga y fluida */
    opacity: 0; /* Oculta la carta visualmente */
}
.card.show {
    display: flex; /* Muestra la carta */
    opacity: 1; /* Hace la carta visible */
    transform: translate(-50%, -50%) scale(1); /* Crece a tamaño completo */
    visibility: visible; /* Hace visible la carta */
}
.card-content {
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-heading {
    font-size: 20px;
    font-weight: 700;
    color: rgb(27, 27, 27);
}
.card-description {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 100;
    color: rgb(102, 102, 102);
}
.card-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card-button {
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(255, 114, 109);
    color: white;
}
.card-button:hover{
    background-color: rgb(255, 73, 66);
}
.card-button.secondary {
    background-color: #6c757d;
    color: #ddd;
}
.card-button .secondary {
    background-color: rgb(197, 197, 197);
}
.card-button.secondary:hover {
    background-color: #313538da;
}
/*---------NUEVOO-----------*/
.card-nuevo {
    width: 250px;
    height: fit-content;
    position: fixed;
    top: 25%;
    left: 12%;
    transform: translate(-50%, -50%) scale(0.8); 
    padding: 20px;
    background: var(--carta-cerrar-back);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 100000;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.4s ease, transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.card-nuevo.show {
    opacity: 1; 
    visibility: visible;
    transform: translate(-50%, -50%) scale(1); 
}
.card-content-nuevo {
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column; 
    gap: 5px;
}
.card-heading-nuevo {
    font-size: 20px;
    font-weight: 700;
    color: rgb(27, 27, 27);
}
.card-description-nuevo {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 100;
    color: rgb(102, 102, 102);
}
.card-button-wrapper-nuevo {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px; 
}
.card-button-nuevo {
    width: 100%; 
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #9147ff8a;
    color: white;
}
.card-button-nuevo:hover {
    background-color: #7519ff8a;
}
.card-button-nuevo.secondary {
    background-color: #6c757d;
    color: #ddd;
}
.card-button-nuevo.secondary:hover {
    background-color: #313538da;
}
/*------------------COMUNIDAD-----------------------------------*/
.container {
width: 100%;
max-width: 1200px;
background: var(--fondo-comunidad);
border-radius: 14px;
box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
padding: 20px;
display: flex;
flex-direction: column;
}

header {
margin-bottom: 20px;
color: var(--color-texto);
}

.post-form {
margin-bottom: 20px;
}
.post-text{
    color: var(--texto-post);
}

textarea {
min-height: 80px; /* Altura fija para el campo de texto */
border: none;
border-radius: 14px;
padding: 10px;
font-size: 16px;
box-sizing: border-box;
resize: none; /* Impide el redimensionamiento del campo de texto */
width: calc(100% - 80px); /* Ajustado para el botón de enviar */
background-color: var(--color-caja-texto);
}

button {
    background-color: #9147ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
background-color: #d9d9d92f;
}

.posts {
display: flex;
justify-content: space-between;
gap: 20px;
flex-wrap: wrap;
overflow-y: auto;
height: 500px;
}

.post-column {
flex: 1;
min-width: 0;
}
.post {
background: var(--fondo-post);
border-radius: 14px;
margin-bottom: 20px;
padding: 15px;
}
.post-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
color: var(--color-texto);
}
.username {
font-weight: bold;
}
.like-button {
background: transparent;
border: none;
font-size: 20px;
cursor: pointer;
color: #999;
}
.like-button.liked {
color: red;
}
.comment-button {
background: transparent;
border: none;
font-size: 10px;
cursor: pointer;
color: #000000;
margin-left: 10px;
}
h2{
    color: var(--contacto-texto);
}
.contact-button {
background-color: #f0fff4;
color: white;
border: none;
border-radius: 4px;
padding: 10px 15px;
cursor: pointer;
font-size: 16px;
margin-left: 10px;
}
.contact-button:hover {
background-color: #e9ffee;
}

.comments {
margin-top: 10px;
border-top: 1px solid #ddd;
padding-top: 10px;
}

.comment {
border-top: 1px solid #ddd;
padding-top: 5px;
margin-top: 5px;
}

.comment-form {
display: flex;
gap: 10px;
margin-top: 10px;
}

.comment-form textarea {
    width: 100%; /* Ajustado para el botón de enviar */
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
    max-height: 50px; /* Altura máxima para el campo de texto de comentario */
    resize: vertical; /* Permite redimensionar verticalmente */
    resize: none;
    background-color: var(--color-caja-texto);
    border: none;
}

.comment-form button {
    background: #9147ff;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    width: 80px; /* Ajustado para que el botón sea más corto */
}
.comment-form button:hover {
background-color: #7518ff;
}

.icon-button {
background: transparent;
border: none;
font-size: 20px;
cursor: pointer;
color: var(--iconos);
}