@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --color-barra-lateral: #f3f3f3;

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover:rgb(236, 236, 236);
    --color-menu-hover-texto:rgb (0,0,0);

    --color-boton: rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(213, 213, 213);

    --color-switch-base:rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);

    --background-color:#d9d9d9;

    --fondo-flecha: #000;
    --flecha: #fff;

    --fondo-botones-sidebar: #f3f3f3;

    --fondo-filtro-boton: #e6eef9;
    --color-texto-filtros: #000;
    --fondo-filtros: #fff;

    --color-subir-imagen:#000;
    --file-name: #5d5d5d;
    --nuevo: #000;
    --back-color-nuevo:#ececec;
    --back-elements-color:#dddddd;
    --fondo-elementos:#f3f3f3;

    --input-bg: #fff;

    --lupa: #646487;
    --element-back-color:#d6d6d6;
    --element-back-color-hover:#b2b2b2;
    
}
.dark-mode{
    --color-barra-lateral: rgb(16, 16, 16);

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,107);

    --color-menu-hover:rgb(8, 8, 8);
    --color-menu-hover-texto:rgb(238,238,238);

    --color-boton: rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);

    --color-linea:rgb(90,90,90);

    --color-switch-base:rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);

    --color-scroll:rgb(68,79,74);
    --color-scroll-hover:rgb(85,85,85);

    --background-color:rgb(37, 37, 37);

    --fondo-flecha: #fff;
    --flecha: #000;

    --fondo-filtro-boton: #2f2f2f;
    --color-texto-filtros: #fff;
    --fondo-filtros: #151515;

    --color-subir-imagen:#fff;
    --file-name: #a8a8a8;
    --nuevo: #ffffff;
    --back-color-nuevo:#686868;
    --back-elements-color:#404040;
    --fondo-elementos:#1d1d1d;

    --input-bg: #151515;

    --lupa-texto: #a5a5a5;

    --fondo-botones-sidebar: #0f0f0f;
    --element-back-color:#242824;
    --element-back-color-hover:#3d423d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}
/*-----------------Flecha-----------------------*/
.barra-lateral .bx-chevron-left {
    position: absolute;
    top: 7%; 
    right: -10px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--fondo-flecha);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--flecha);
    font-size: 20px;
    transition: var(--tran-05);
    cursor: pointer;
    transition: transform 0.3s ease;
}
/*------------Barra lateral----------------*/
.barra-lateral{
    width: 250px;
    height: 100%;
    background: var(--color-barra-lateral);
    left: 0; 
    top: 0; 
    padding: 20px 15px;
    z-index: 50; 
    transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}
.mini-barra-lateral{
    width: 80px;
}
.mini-barra-lateral .bx-chevron-left {
    transform: translateY(-50%) rotate(180deg);
}
.barra-lateral .nombre-pagina span.oculto{
        opacity: 0;
        display: none;
        transition: var(--tran-04);
}
/*Nombre de la pagina*/
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
/*Icono*/
.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina span{
    margin: 5px;
    font-size: 25px;
}
/*Texto botones barra lateral*/
.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 15px;
    margin-left: 5px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    display: flex;
    
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}
/*-----Componente malarIA nombre pagina-------------*/ 
.Malaria{
    font-size: 2em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.3);
    background: #222 -webkit-gradient(
        linear,
        left top,
        right top,
        from(#222),
        to(#222),
        color-stop(0.5, #fff)
    ) 0 0 no-repeat;
    background-image: -webkit-linear-gradient(
    -40deg,
    transparent 0%,
    transparent 40%,
    #fff 50%,
    transparent 60%,
    transparent 100%
    );
    -webkit-background-clip: text;
    -webkit-background-size: 50px;
    -webkit-animation: zezzz;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes zezzz {
    0%,
    10% {
    background-position: -200px;
    }
    20% {
    background-position: top left;
    }
    100% {
    background-position: 200px;
    }
}
/*-----------------------Boton------------------*/
.barra-lateral .boton{
    width: 100%;
    height: 50px;
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    margin: 20px 0;
    cursor: pointer;
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}
.barra-lateral .navegacion {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background: var(--fondo-botones-sidebar);
    color: var(--color-texto-menu);
    margin-top: 5px;
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}
/*Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 110px;
    background-color: var(--color-linea);
}
/*Modo oscuro*/
.barra-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{
    width: 50px;
    font-size: 20px;
}

.barra-lateral .modo-oscuro ion-icon.sunny-outline {
    opacity: 0;
}

body.barra-lateral .modo-oscuro ion-icon.sunny-outline {
    opacity: 1;
}
/*-----------------------Switch-------------------------*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--color-switch-base);
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
    background-color: var(--color-switch-circulo);
}
.barra-lateral .modo-oscuro .circulo.prendido{
left: 15px;
}
/*---------------------------Usuario-------------------------*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column  ;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
/*-------------------------------------------Main------------------------------------*/
main{
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}
/*Responsive*/
@media (max-height:660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}
@media (max-height: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}
.menu {
    display: none;
}
@media (max-width: 768px) {
    .menu {
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .barra-lateral.active ~ .menu ion-icon[name="menu-outline"] {
        display: none; 
    }
    .barra-lateral.active ~ .menu ion-icon[name="close-outline"] {
        display: block; 
    }
}
.barra-lateral ~ .wrapper {
    margin-left: 250px; 
}
.mini-barra-lateral ~ .wrapper {
    margin-left: 80px; 
}

/*-------------------Feed------------------------*/
.feed{
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll; /*ACA VER*/
}
.feed-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}
.feed-header h2{
    font-size: 20px;
    font-weight: 800;
}
.feed::-webkit-scrollbar{
    display: none;
}
.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/*Caja de twitter*/
.tweetbox-input img{
    border-radius: 50%;
    height: 40px;
}
.tweetbox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;}
.tweetbox form{
    display: flex;
    flex-direction: column;
}
.tweetbox-input{
    display: flex;
    padding: 20px;
}
.tweetbox-input input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}
.tweetbox-tweetButton{
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}
/*POST*/
.post-avatar img{
    border-radius: 50%;
    height: 40px;
}
.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.post-body img{
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}
.post-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.post-badge{
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}
.post-headerSpecial{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
