@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}
body {
  display: flex;
  background: rgb(255, 255, 255);
  background-size: cover;
  width: 100%;
}

.fondoDegrade{
  width: 50%;
}

.contenedorForm{
  width: 50%;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 50px ;
}

.wrapper h1 {
  font-size: 30px;
  text-align:left;
  margin-bottom: 20px;
  color: #441465;
  font-weight: lighter;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  background: #ffffff00;
  margin: 10px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(41, 41, 41, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
  padding: 12px 45px 12px 20px;
}

.input-box input::placeholder {
  color: #00000096;
}

#registerForm{
  width: 70%;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}

.wrapper .register-link {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
}

.register-link label input {
  accent-color: #9147ff;
  margin-right: 3px;
}
.register-link a {
  color: #000000;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #7C3ED6;
  border-radius: 40px;
  border: 10px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #d1d1d1;
  font-weight: 600;
  margin-top: 15px;
}
.wrapper .btn:hover {

  background-color:#6b36bb ;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #441465;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

div.flex-container{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 0;
  padding: 0;
}

#response {
  margin-top: 20px;
  font-size: 14px;
  color: #d9534f; /* Color rojo suave para errores */
  text-align: center;
  background-color: #f8d7da; /* Fondo claro para error */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f5c6cb; /* Borde más oscuro para el error */
  display: none; /* Para ocultarlo inicialmente */
}

#response.show {
  display: block;
}

.bx{
  color: #a1a1a1 ;
}
