* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(../images/fondoGeneral.png)no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    border: 2px solid rgba(255, 255, 255, 0.2); /* Borde con transparencia */
    backdrop-filter: blur(30px); /* Efecto de desenfoque */
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    margin: 20px 0;
}

.wrapper h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; 
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

.input-box input[type="text"],
.input-box input[type="email"],
.input-box input[type="password"],
.input-box input[type="number"],
.input-box input[type="tel"],
.input-box select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 0 45px 0 20px; /* Ajusta el padding para dejar espacio para el icono */
    outline: none;
    color: #ffffff; /* Texto en blanco para el input */
}
/* Para Webkit (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Para Edge */
input[type="number"]::-ms-clear {
    display: none;
}



.input-box input::placeholder,
.input-box select::placeholder {
    color: #ffffff; /* Color del placeholder en blanco */
}

.input-box select {
    color: #ffffff; /* Texto en blanco para el select cuando está vacío */
}

/* Opciones del select en el navegador */
.input-box select option {
    background-color: #ffffff; /* Fondo blanco para las opciones */
    color: #000000; /* Texto negro para las opciones */
}

/* Placeholder específico para el select */
.input-box select option:first-of-type {
    color: #ffffff; /* Color del placeholder en blanco */
    background-color: #ebebeb;
}

.input-box select {
    overflow: auto;
}

/* Estilo del scrollbar */
.input-box select::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

.input-box select::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
    border-radius: 10px;
}

.input-box select::-webkit-scrollbar-thumb {
    background: #888; /* Color de la parte deslizable */
    border-radius: 10px;
}

.input-box select::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color al pasar el mouse */
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box select::-ms-expand {
    display: none;
}

/* Estilos específicos para el input de archivo */
.input-box input[type="file"] {
    width: 100%;
    height: 50px;
    background: #ffffff53;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 0;
    cursor: pointer;
    opacity: 0; /* Ocultar el input real */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 45px 0 20px; /* Ajusta el padding para dejar espacio para el icono */
}

.input-box .file-label {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    background:  transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 0;
    padding: 0 45px 0 20px; /* Ajusta el padding para dejar espacio para el icono */
}

.input-box .file-label:hover {
    background:  #ffffff33;
}

/* Ajustes generales de los botones */
.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 40px;
    border: 10px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) ;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.btn:hover {
    background: #bdbdbd;
}

.register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0;
}

.register-link p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p {
    color: #dddddd;
}

.register-link p a:hover {
    text-decoration: underline;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

body::-webkit-scrollbar {
    width: 8px; 
}

body::-webkit-scrollbar-track {
    background: var(--fondo-scrollbar) #f1f1f1; 
    border-radius: 10px; 
}

body::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}
body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar al pasar el mouse por encima */
}

.bx-chevron-left {
    color: #fff;
    position: absolute;
    font-size: 70px;
    left: 2%;
    top: 2%;
    cursor: pointer;
  }
