@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --color-barra-lateral: rgb(255,255,255);

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover:rgb(238,238,238);
    --color-menu-hover-texto:rgb (0,0,0);

    --color-boton: rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(213, 213, 213);

    --color-switch-base:rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);

    --background-color:#d9d9d9;

    --fondo-flecha: #000;
    --flecha: #fff;

    --fondo-botones-sidebar: #f3f3f3;
    
}
.dark-mode{
    --color-barra-lateral: rgb(34, 34, 34);

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,107);

    --color-menu-hover:rgb(20, 20, 20);
    --color-menu-hover-texto:rgb(238,238,238);

    --color-boton: rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);

    --color-linea:rgb(90,90,90);

    --color-switch-base:rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);

    --color-scroll:rgb(68,79,74);
    --color-scroll-hover:rgb(85,85,85);

    --background-color:rgb(0,0,0);

    --fondo-flecha: #fff;
    --flecha: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}
/*-----------------Flecha-----------------------*/
.barra-lateral .bx-chevron-left {
    position: absolute;
    top: 7%; 
    right: -10px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--fondo-flecha);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--flecha);
    font-size: 20px;
    transition: var(--tran-05);
    cursor: pointer;
    transition: transform 0.3s ease;
}
/*------------Barra lateral----------------*/
.barra-lateral{
    width: 250px;
    height: 100%;
    background: #f3f3f3;
    position: fixed; 
    left: 0; 
    top: 0; 
    padding: 20px 15px;
    z-index: 50; 
    transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.mini-barra-lateral{
    width: 80px;
}
.barra-lateral .nombre-pagina span{
    font-size: 25px;
    margin-left: 5px;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.barra-lateral .nombre-pagina span.oculto{
    opacity: 0;
}
/*Nombre de la pagina*/
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
}
.barra-lateral .nombre-pagina span{
    margin: 5px;
    font-size: 25px;
}
.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 15px;
    margin-left: 5px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}
/*-----------------------Boton------------------*/
.barra-lateral .boton{
    width: 100%;
    height: 50px;
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    margin: 20px 0;
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}
.barra-lateral .navegacion {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background: var(--fondo-botones-sidebar);
    color: var(--color-texto-menu);
    margin-top: 5px;
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}
/*Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 110px;
    background-color: var(--color-linea);
}
/*Modo oscuro*/
.barra-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{
    width: 50px;
    font-size: 20px;
}

.barra-lateral .modo-oscuro ion-icon.sunny-outline {
    opacity: 0;
}

body.barra-lateral .modo-oscuro ion-icon.sunny-outline {
    opacity: 1;
}
/*-----------------------Switch-------------------------*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--color-switch-base);
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
    background-color: var(--color-switch-circulo);
}
.barra-lateral .modo-oscuro .circulo.prendido{
left: 15px;
}
/*---------------------------Usuario-------------------------*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column  ;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
/*Main*/
main{
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}
/*Responsive*/
@media (max-height:660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}
@media (max-height: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}
.menu {
    display: none;
}
@media (max-width: 768px) {
    .menu {
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .barra-lateral.active ~ .menu ion-icon[name="menu-outline"] {
        display: none; 
    }
    .barra-lateral.active ~ .menu ion-icon[name="close-outline"] {
        display: block; 
    }
}
/*--------------------------Filtros-------------------------*/ 
.wrapper{
    width: 60%;
    margin: 0 6em ;
}
#buttons {
    align-items: center;
    color: #1f1f1f;
    display: flex;
    flex-basis: 100%;
    font-size: 14px;
    line-height: 20px;
}
.container{
    padding-top: 1em;
    color: #110f29;
}
/*--------------------------Search-------------------------*/ 
.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}
.form {
    --timing: 0.3s;
    --width-of-input: 40em;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
}
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}
.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}
.form:focus-within {
    border-radius: var(--after-border-radius);
}
input:focus {
    outline: none;
}
.form:focus-within:before {
    transform: scale(1);
}
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}
.form svg {
    width: 17px;
    margin-top: 3px;
}
input[type="search"] { 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.hide{
    display: none;
}
.container h5{
    font-weight: 500;
}
@media screen and (max-width: 720px){
    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card{
        max-width: 10em;
        margin-top: 1em;
    }
    #products{
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
    

}
.navbar-y-filtros {
    position: relative;
    z-index: 10;
}
/*-----------------------Elementos----------------------*/
.FONDOPACIENTES{
    width: 55em;
    height: 27em;
    background: #f3f3f3;
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 12px;
    padding: 40px 0px;
    margin: 10px 96px;
    display: flex;
}
.file-container {
    width: 200px;
    height: 200px;
    background-color: #dddddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 0px 0px 50px;
}
.file-header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px 10px 0 10px;
    background-color: #dddddd;
}
.file-name {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 600;
}
.file-preview {
    padding: 10px;
}
.file-preview img {
    width: 90%;
    border-radius: 5px;
    margin: 0 10px;
    border-radius: 10px;
}
/*Filtros*/
.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 4px;
    border-radius: 99px;
}

  .tabs * {
    z-index: 2;
}

.container input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 110px;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}


.container input[type="radio"]:checked + label {
    color: #185ee0;
}

.container input[type="radio"]:checked + label > .notification {
    background-color: #185ee0;
    color: #fff;
}

.container input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
}
.container input[id="radio-2"]:checked ~ .glider {
    transform: translateX(115%);
}
.container input[id="radio-3"]:checked ~ .glider {
    transform: translateX(230%);
}
.glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 100px;
    background-color: #e6eef9;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}

@media (max-width: 700px) {

    .tabs {
transform: scale(0.6);
    }
}

