@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --color-barra-lateral: rgb(255,255,255);

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover:rgb(238,238,238);
    --color-menu-hover-texto:rgb (0,0,0);

    --color-boton: rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(213, 213, 213);

    --color-switch-base:rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);

    --background-color:#d9d9d9;

    --fondo-flecha: #000;
    --flecha: #fff;
    
}
.dark-mode{
    --color-barra-lateral: rgb(34, 34, 34);

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,107);

    --color-menu-hover:rgb(20, 20, 20);
    --color-menu-hover-texto:rgb(238,238,238);

    --color-boton: rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);

    --color-linea:rgb(90,90,90);

    --color-switch-base:rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);

    --color-scroll:rgb(68,79,74);
    --color-scroll-hover:rgb(85,85,85);

    --background-color:rgb(0,0,0);

    --fondo-flecha: #fff;
    --flecha: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}
/*Flecha*/
.barra-lateral .bx-chevron-left {
    position: absolute;
    top: 7%; /* Centra verticalmente */
    right: -10px; /* Ajustar según tu necesidad */
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--fondo-flecha);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--flecha);
    font-size: 20px;
    transition: var(--tran-05);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.barra-lateral .mini-barra-lateral .bx-chevron-left {
    left: 10px; /* Ajusta según tu diseño */
    transform: translateY(-50%) rotate(180deg); /* Rotar cuando está minimizado */
}
/*Menu*/
.menu{
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    right: 15px;
    top: 15px;
    z-index: 1;
}
/*Barra lateral*/
.barra-lateral{
    width: 250px;
    height: 100%;
    background: #f3f3f3;
    position: fixed; /* Fijado en la pantalla */
    left: 0; /* Asegura que esté alineado a la izquierda */
    top: 0; /* Asegura que esté alineado en la parte superior */
    padding: 20px 15px;
    z-index: 50; /* Asegura que esté por encima de otros elementos */
    transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.mini-barra-lateral{
    width: 80px;
}

.barra-lateral .nombre-pagina span{
    font-size: 25px;
    margin-left: 5px;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.barra-lateral .nombre-pagina span.oculto{
    opacity: 0;
}

/*Nombre de la pagina*/
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
}
.barra-lateral .nombre-pagina span{
    margin: 5px;
    font-size: 25px;
}

.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 15px;
    margin-left: 5px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/*Boton*/
.barra-lateral .boton{
    width: 100%;
    height: 50px;
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    margin: 20px 0;
}

.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}

/*Menu Naveacion*/
.barra-lateral .navegacion {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background: #f3f3f3;
    color: var(--color-texto-menu);
    margin-top: 5px;
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;

}

/*Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 110px;
    background-color: var(--color-linea);
}

/*Modo oscuro*/
.barra-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{
    width: 50px;
    font-size: 20px;
}

.barra-lateral .modo-oscuro ion-icon.sunny-outline {
    opacity: 0;
}

body.barra-lateral .modo-oscuro ion-icon.sunny-outline {
    opacity: 1;
}
/*Switch*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}

.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--color-switch-base);
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
    background-color: var(--color-switch-circulo);
}
.barra-lateral .modo-oscuro .circulo.prendido{
left: 15px;
}

/*Usuario*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column  ;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
/*Main*/
main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}
/*Responsive*/
@media (max-height:660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}
@media (max-height: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}

/* Oculta ambos íconos por defecto */
.menu {
    display: none;
}

/* Muestra los íconos de menú y cerrar solo en pantallas pequeñas */
@media (max-width: 768px) {
    .menu {
        display: flex;  /* O cualquier otro estilo que desees para mostrar los íconos */
        justify-content: center;
        align-items: center;
    }

    .barra-lateral.active ~ .menu ion-icon[name="menu-outline"] {
        display: none; /* Oculta el ícono de menú cuando la barra lateral está activa */
    }

    .barra-lateral.active ~ .menu ion-icon[name="close-outline"] {
        display: block; /* Muestra el ícono de cerrar cuando la barra lateral está activa */
    }
}
.wrapper{
    width: 60%;
    margin: 0 6em ;
}
/* Añadir margen izquierdo a los botones de filtro */
#buttons {
    align-items: center;
    color: #1f1f1f;
    display: flex;
    flex-basis: 100%;
    font-size: 14px;
    line-height: 20px;
}

#search-container input{
    background-color: #e9eefc;
    color: #e3e3e3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 12px;
    width: 50em;
    border: 1px #fff;
    height: 40px;
    display: flex;
    font-size: 13px;
    line-height: 27px;
    justify-content: flex-start; 
    margin: 0.1em 0 1em 0;
}

/* Opcionalmente, puedes agregar más estilos si es necesario */
input[type="search"] { /* Ajusta el ancho según sea necesario */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#placeholder {
    margin: 0px;
}
.button-value{
    background-color: #fff;
    border-color: #a0a0a0;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    color: #444746;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    margin: 4px 4px 4px 4px;
    padding: 8px;
    cursor: pointer;
}

.active{
    background-color: #6759ff;
    color: #fff;
}
#products{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:1.5em;
    padding: 2em 0;
    margin-left: 30px;
}
.card{
    background-color: #fff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1,2,68,0.08);
}
.image-container{
    text-align: center;
}
img{
    max-width: 100%;
    object-fit: contain;
    height: 15;
}
.container{
    padding-top: 1em;
    color: #110f29;
}
.hide{
    display: none;
}
.container h5{
    font-weight: 500;
}
@media screen and (max-width: 720px){
    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card{
        max-width: 10em;
        margin-top: 1em;
    }
    #products{
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
    

}
.navbar-y-filtros {
    position: relative;
    z-index: 10;
}

.search-container, #buttons {
    position: relative;
    z-index: 2;
}

.barra-lateral.open {
    transform: translateX(0); /* show sidebar */
}

.barra-lateral.closed {
    transform: translateX(-250px); /* hide sidebar */
}

.FONDOPACIENTES{
    width: 66em;
    height: 27em;
    background: #f3f3f3;
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 12px;
    padding: 40px 0px;
    margin: 10px 96px;
    display: flex;
}
.file-container {
    width: 200px;
    height: 200px;
    background-color: #dddddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 0px 0px 50px;
}


.file-header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px 10px 0 10px;
    background-color: #dddddd;
}

.file-name {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 600;
}

.file-preview {
    padding: 10px;
}

.file-preview img {
    width: 90%;
    border-radius: 5px;
    margin: 0 10px;
    border-radius: 10px;
}

