@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    height: 40em; /*modificar esto y ponerle porcentaje*/
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    background: rgb(39,29,74);
    background: linear-gradient(180deg, rgba(39,29,74,1) 29%, rgba(66,44,143,1) 77%, rgba(113,91,190,1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
}

h1 {
    font-size: 5em;
    margin: 0;
    color: #fff;
}

h1 img {
    margin-right: 15px;
    vertical-align: middle;
}

.btn {
    padding: 15px 40px;
    margin-top: 20px;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    background-color: #333;
}

.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.btn::before {
    content: "";
    background: linear-gradient(
        45deg,
        #5d45ae, #5d45ae, #5d45ae, #5d45ae
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -2;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    border-radius: 12px;
    transition: opacity .3s ease-in-out;
}
