@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --color-barra-lateral: #f3f3f3;
    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);
    --color-menu-hover:rgb(236, 236, 236);
    --color-menu-hover-texto:rgb (0,0,0);
    --color-boton: #7c3ed6;
    --color-boton-texto:rgb(255,255,255);
    --color-linea:rgb(213, 213, 213);
    --color-switch-base:rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);
    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
    --background-color:#d9d9d9;
    --fondo-flecha: #7c3ed6;
    --flecha: #fff;
    --fondo-botones-sidebar: #f3f3f3;
    --fondo-filtro-boton: #e6eef9;
    --color-texto-filtros: #000;
    --fondo-filtros: #fff;
    --color-subir-imagen:#000;
    --file-name: #5d5d5d;
    --nuevo: #000;
    --back-color-nuevo:#ececec;
    --back-elements-color:#dddddd;
    --fondo-elementos:#f3f3f3;
    --input-bg: #fff;
    --lupa: #646487;
    --element-back-color:#d6d6d6;
    --carta-cerrar-back: rgb(255, 255, 255);
    --color-boton-acceder: #9147ff;
    --fondo-scrollbar: #f1f1f1;
    --element-back-color-hover:#dddcdc;
    --color-texto-elementoss: #7c3ed6;
    --color-texto-elementoss-hover: #9249ff;
    --fondo-user-hover: #bebebe;
    --color-icono: #545454;
    --texto-elemento: #363636;
    --texto-input:#000;
}
.dark-mode{
    --color-barra-lateral: rgb(16, 16, 16);
    --color-texto:rgb(255,255,255);
    --color-icono: #7c7c7c;
    --color-texto-menu:rgb(110,110,107);
    --color-menu-hover:rgb(8, 8, 8);
    --color-menu-hover-texto:rgb(238,238,238);
    --color-boton: #7c3ed6;
    --color-boton-texto:rgb(0,0,0);
    --color-linea:rgb(90,90,90);
    --color-switch-base:rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);
    --color-scroll:rgb(68,79,74);
    --color-scroll-hover:rgb(85,85,85);
    --background-color:rgb(37, 37, 37);
    --fondo-flecha: #7c3ed6;
    --flecha: #000;
    --fondo-filtro-boton: #2f2f2f;
    --color-texto-filtros: #fff;
    --fondo-filtros: #151515;
    --color-subir-imagen:#fff;
    --file-name: #a8a8a8;
    --nuevo: #ffffff;
    --back-color-nuevo:#686868;
    --back-elements-color:#404040;
    --fondo-elementos:#1d1d1d;
    --input-bg: #151515;
    --lupa-texto: #a5a5a5;
    --fondo-botones-sidebar: #0f0f0f;
    --element-back-color:#272727;
    --element-back-color-hover:#2e2e2e;
    --carta-cerrar-back: rgb(21, 21, 21);
    --color-boton-acceder: #181818;
    --fondo-scrollbar: #141414;
    --color-texto-elementoss: #f2f2f2;
    --color-texto-elementoss-hover: #fff;
    --fondo-user-hover: #262626;
    --texto-elemento: #d2d2d2;
    --texto-input:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
}
.contenedor{
    display: flex;
    height: 100vh;
}

/*--------------------------Filtros y searchbar-------------------------*/ 
.wrapper{
    transition: transform 0.5s ease;
    width: 300px;
    }
    #buttons {
        align-items: center;
        display: flex;
        flex-basis: 100%;
        font-size: 14px;
        line-height: 20px;
    }
    .container{
        padding-top: 1em;
    }
/*--------------------------Search-------------------------*/ 
.form button {
    border: none;
    background: none;
    color: var(--lupa-texto);
}
/*--------------------------Search-------------------------*/ 
.form button {
    border: none;
    background: none;
    color: var(--lupa-texto);
}
.form {
    --timing: 0.5s;
    --width-of-input: 40em;
    --height-of-input: 40px;
    --border-height: 2px;
    --border-color: #9147ff;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg);
    transition: height 0.5s ease, width 0.5s ease;
}
.form.expandido{
    width: 55em;
    transition: height 0.5s ease, width 0.5s ease;
}

.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    color: var(--texto-input);
}
.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}
.form:focus-within {
    border-radius: var(--after-border-radius);
}
input:focus {
    outline: none;
}
.form:focus-within:before {
    transform: scale(1);
}
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}
.form svg {
    width: 17px;
    margin-top: 3px;
}
input[type="search"] { 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}
.hide{
    display: none;
}
.container h5{
    font-weight: 500;
}
@media screen and (max-width: 720px){
    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card-element{
        max-width: 10em;
        margin-top: 1em;
    }
    #products{
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }  
}
.navbar-y-filtros {
    z-index: 10;
}
/*-----------------------Fondo elementos----------------------*/
.FONDOPACIENTES{
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: normal;
    width: 350%;
    height: 90%;
    background: var(--fondo-elementos);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 10px 10px;
    gap: 5px;
    margin: 15px 0px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
    overflow-y: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: height 0.5s ease, width 0.5s ease;
}
.FONDOPACIENTES.expanded{
    width: 420%;
    transition: height 0.5s ease, width 0.5s ease;
}
.FONDOPACIENTES::-webkit-scrollbar {
    width: 8px; 
}

.FONDOPACIENTES::-webkit-scrollbar-track {
    background: var(--fondo-scrollbar) #f1f1f1; 
    border-radius: 10px; 
}

.FONDOPACIENTES::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}
.FONDOPACIENTES::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar al pasar el mouse por encima */
}

/*-----------------------Elementos----------------------*/
.card {
    display: flex;
    flex-direction: column;
    background-color: var(--element-back-color);
    padding: 18px;
    border-radius: 6px;
    height: max-content;
    cursor: pointer;
    width: 235px;
}
.card:hover{
    background: var(--element-back-color-hover);
}
.cartas-separadas{
margin: 3.5px;
align-items: center;
height: 12%;
margin-left: 10px;
}

.card_form span {
    font-size: 1.5em;
    inset: 0;
    padding: 5px 20px 0px 5px; /*Es lo que hace que el fondo de "infectado" cambie*/
    color: #fff;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .card:hover .card_form span,
  .card:hover .card_data span {
    opacity: 1;
  }
  .card_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  .card_data span {
    color: #9147ff;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    transition: 0.2s ease-in-out;
    opacity: 0;
    cursor: pointer;
  }

  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  .text_m {
    font-size: 0.9em;
  }
  .text_s {
    color:var(--color-texto-elementoss);
    font-size: 0.6em;
  }

  .card:hover .cube {
    color:var(--color-texto-elementoss-hover);
  }
  .side {
    width: 125px;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
  }
  .top {
    transform: rotateX(-90deg) translate3d(0, 0, 0em);
    background: var(--color-boton-acceder);
    border-radius:10px;
    width:90%;
    cursor: pointer;
  }
  .front {
    transform: translate3d(0, 0, 1em);
    cursor: pointer;
  }

/*BUTTON USUARIO*/
.button-usuario{
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}
.button-usuario:hover{
    background-color: var(--fondo-user-hover);
}

#botonesnuevosCard {
    display: none; /* Asegúrate de que esté oculto por defecto */
    /* Otros estilos para el card */
}

#botonesnuevosCard.show{
    display: block; /* O cómo quieras que se muestre cuando esté 'show' */
}


.separar {
    display: flex;               
    flex-direction: column; 
    gap: 45%;                           /* 80% en la pantalla grandeeee!!! */
}

#noResults {
    display: none; /* Cambiar esto según sea necesario */
    color: var(--texto-elemento);
    margin-top: 12em;
    justify-content: center;
    text-align: center;
}

#noResults.expandido3 {
    margin-left: 50px; /* Cambia a un valor más pequeño */
}


