@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --color-barra-lateral: #f3f3f3;
    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);
    --color-menu-hover:rgb(215, 215, 215);
    --color-menu-hover-texto:rgb (0,0,0);
    --color-boton: #7c3ed6;
    --color-boton-texto:rgb(255,255,255);
    --color-linea:rgb(213, 213, 213);
    --color-switch-base:rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);
    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
    --background-color:#d9d9d9;
    --fondo-flecha: #7c3ed6;
    --flecha: #fff;
    --fondo-botones-sidebar: #f3f3f3;
    --fondo-filtro-boton: #e6eef9;
    --color-texto-filtros: #000;
    --fondo-filtros: #fff;
    --color-subir-imagen:#000;
    --file-name: #5d5d5d;
    --nuevo: #000;
    --back-color-nuevo:#ececec;
    --back-elements-color:#a1a1a1;
    --fondo-elementos:#f3f3f3;
    --input-bg: #fff;
    --lupa: #646487;
    --element-back-color:#d6d6d6;
    --carta-cerrar-back: rgb(255, 255, 255);
    --color-boton-acceder: #9147ff;
    --fondo-scrollbar: #f1f1f1;
    --color-texto-elementos:#7c3ed6;
    --fondo-user-hover: #bebebe;
    --color-icono: #545454;
    --fondo-mensajes-privados: #fff;
    --texto: #000;
    --background-colorr:#f9f9f9;
    --fondo-input:#f9f9f9;
    --color-borde-input: #ddd;
    --back-edit-input:#fff;

}
.dark-mode{
    --color-barra-lateral: rgb(16, 16, 16);
    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,107);
    --color-menu-hover:rgb(30, 30, 30);
    --color-menu-hover-texto:rgb(238,238,238);
    --color-boton: #7c3ed6;
    --color-boton-texto:rgb(0,0,0);
    --color-linea:rgb(90,90,90);
    --color-switch-base:rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);
    --color-scroll:rgb(68,79,74);
    --color-scroll-hover:rgb(85,85,85);
    --background-color:rgb(37, 37, 37);
    --fondo-flecha: #7c3ed6;
    --flecha: #000;
    --fondo-filtro-boton: #2f2f2f;
    --color-texto-filtros: #fff;
    --fondo-filtros: #151515;
    --color-subir-imagen:#fff;
    --file-name: #a8a8a8;
    --nuevo: #ffffff;
    --back-color-nuevo:#686868;
    --back-elements-color:#404040;
    --fondo-elementos:#1d1d1d;
    --input-bg: #151515;
    --lupa-texto: #a5a5a5;
    --fondo-botones-sidebar: #0f0f0f;
    --element-back-color:#282b28;
    --carta-cerrar-back: rgb(21, 21, 21);
    --color-boton-acceder: #181818;
    --fondo-scrollbar: #141414;
    --color-texto-elementos:#fff;
    --fondo-user-hover: #262626;
    --color-icono: #7c7c7c;
    --fondo-mensajes-privados: #202020;
    --texto: #fff;
    --background-colorr:rgb(37, 37, 37);
    --fondo-input:#303030;
    --color-borde-input: #484848;
    --back-edit-input:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: normal;
    overflow-y: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
}
.contenedor{
    display: flex;
}
/*-----------------Flecha-----------------------*/
.barra-lateral .bx-chevron-left {
    position: absolute;
    top: 40px; 
    left: 235px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--fondo-flecha);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--flecha);
    font-size: 16px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.mini-flecha{
    top: 7%; 
    left: 6%;
}
/*------------Barra lateral----------------*/
.barra-lateral{
    width: 250px;
    height: 580px;
    background: var(--color-barra-lateral);
    left: 0; 
    top: 0; 
    padding: 20px 15px;
    z-index: 50; 
    transition: width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
    display: flex;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    position: sticky;
}
.mini-barra-lateral{
    width: 80px;
    
}
.mini-barra-lateral .bx-chevron-left {
    transform: translateX(-690%)  translateY(-50%) rotate(180deg);
    transition: transform 0.5s ease;
}
.mini-barra-lateral .button-usuario:hover{ /*NO ME ANDA LA FOTO DE PERIL NO SE LE SALE EL HOVER*/
    background-color: none;
}

.barra-lateral .nombre-pagina span.oculto{
        opacity: 0;
        display: none;
        transition:  transform 0.5s ease;
}
/*Nombre de la pagina*/
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-icono);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
/*Icono*/
.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina span{
    margin: 5px;
    font-size: 25px;
}
/*Texto botones barra lateral*/
.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 14px;
    margin-left: 5px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    display: flex;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}
/*-----Componente malarIA nombre pagina-------------*/ 
.Malaria{
    font-size: 2em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.3);
    background: #222 -webkit-gradient(
        linear,
        left top,
        right top,
        from(#222),
        to(#222),
        color-stop(0.5, #fff)
    ) 0 0 no-repeat;
    background-image: -webkit-linear-gradient(
    -40deg,
    transparent 0%,
    transparent 40%,
    #fff 50%,
    transparent 60%,
    transparent 100%
    );
    -webkit-background-clip: text;
    -webkit-background-size: 50px;
    -webkit-animation: zezzz;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes zezzz {
    0%,
    10% {
    background-position: -200px;
    }
    20% {
    background-position: top left;
    }
    100% {
    background-position: 200px;
    }
}
/*-----------------------Boton------------------*/
.barra-lateral .boton{
    width: 100%;
    min-height: 45px;
    display:flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    margin: 10px 0; /*RESPONSIVEE fijarse si se puede hacer sin esto que me caga lo respondive*/
    cursor: pointer;
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}
.barra-lateral .navegacion {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background: var(--fondo-botones-sidebar);
    color: var(--color-texto-menu);
    margin-top: 5px;
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}
/*Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    background-color: var(--color-linea);
    margin-top: 130px;  /*RESPONSIVEE fijarse si se puede hacer sin esto que me caga lo respondive*/
}
/*Modo oscuro*/
.barra-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{
    width: 50px;
    font-size: 20px;
}
.barra-lateral .modo-oscuro ion-icon.sunny-outline {
    opacity: 0;
}
body.barra-lateral .modo-oscuro ion-icon.sunny-outline {
    opacity: 1;
}
/*-----------------------Switch-------------------------*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--color-switch-base);
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    border-radius: 50%;
    right: 2px;
    transition: right 0.5s ease;
    background-color: var(--color-switch-circulo);
}
.barra-lateral .modo-oscuro .circulo.prendido{
right: 15px;
}

/*---------------------------Usuario-------------------------*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
/*-------------------------------------------Main------------------------------------*/
main{
    padding: 20px;
    transition: margin-left 0.5s ease;
    height: 730px;
    width: 850px;
}
main.min-main{
    transition: margin-left 0.5s;
}   
.menu {
    display: none;
}
/*CERRAR SESION*/
.card_cerrar {
    width: 300px;
    height: fit-content;
    position: fixed; /* Fijo en lugar de absoluto */
    top: 50%;
    left: 50%;
    transform: translate(-190%, -50%) scale(0.8);
    padding: 20px;
    background: var(--carta-cerrar-back);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease, transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    opacity: 0;
    z-index: 10000;
    visibility: hidden;
}

.card_cerrar.show {
    opacity: 1; 
    visibility: visible;
    transform: translate(-185%, 0%) scale(1); 
    z-index: 10000000;
    position: absolute;
}

.mini-barra-lateral .card_cerrar {
    transform: translateX(100%) translateY(-50%); /* Ajuste aquí */
    transition: transform 0.5s ease;
    position: fixed;
}

.card-content {
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.card-heading {
    font-size: 20px;
    font-weight: 700;
    color: rgb(27, 27, 27);
}
.card-description {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 100;
    color: rgb(102, 102, 102);
}
.card-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card-button {
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(255, 114, 109);
    color: white;
}
.card-button:hover{
    background-color: rgb(255, 73, 66);
}
.card-button.secondary {
    background-color: #6c757d;
    color: #ddd;
}
.card-button .secondary {
    background-color: rgb(197, 197, 197);
}
.card-button.secondary:hover {
    background-color: #313538da;
}

/*---------NUEVOO-----------*/
.card-nuevo {
    width: 250px;
    height: fit-content;
    transform: translate(-110%, -500%) scale(0.8); 
    padding: 20px;
    background: var(--carta-cerrar-back);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.4s ease, transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.card-nuevo.show {
    opacity: 1; 
    visibility: visible;
    transform: translate(-105%, -525%) scale(1); 
    z-index: 10000000;
    position: absolute;
}
.card-content-nuevo {
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column; 
    gap: 5px;
}
.card-heading-nuevo {
    font-size: 20px;
    font-weight: 700;
    color: rgb(27, 27, 27);
}
.card-description-nuevo {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 100;
    color: rgb(102, 102, 102);
}
.card-button-wrapper-nuevo {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px; 
}
.card-button-nuevo {
    width: 100%; 
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #9147ff8a;
    color: white;
}
.card-button-nuevo:hover {
    background-color: #7519ff8a;
}
.card-button-nuevo.secondary {
    background-color: #6c757d;
    color: #ddd;
}
.card-button-nuevo.secondary:hover {
    background-color: #313538da;
}

/*BUTTON USUARIO*/
.button-usuario{
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}
.button-usuario:hover{
    background-color: var(--fondo-user-hover);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.main-content {
    flex: 1;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 820px;
}

.profile-card {
    flex: 3; /* Mayor ancho para la información del perfil */
    background-color: var(--fondo-mensajes-privados);
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
    padding: 20px;
    position: relative;
}

.profile-pic-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.edit-button, .confirm-button {
    background-color: #7c3ed6;
    color: var(--input-bg);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-card.edit-mode .edit-button {
    display: none;
}

.profile-card.edit-mode .confirm-button {
    display: block;
}

.info-group {
    margin-bottom: 20px; /* Aumenta el espaciado */
}

.info-group label {
    display: block;
    margin-bottom: 5px;
}

.info-group input, .info-group select, .info-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--color-borde-input);
}

.info-group input:disabled, .info-group select:disabled, .info-group textarea:disabled {
    background-color: var(--fondo-input);
}

.info-group input.edit-mode, .info-group select.edit-mode, .info-group textarea.edit-mode {
    border: 1px solid #7c3ed6;
    background-color: var(--back-edit-input);
}

.messages-card {
    flex: 0.7; /* Menor ancho para los mensajes privados */
    background-color: var(--fondo-mensajes-privados);
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
    padding: 20px;
    transition: height 0.5s ease, width 0.5s ease;
    color: var(--texto);
}

.messages-list::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

.messages-list::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
    border-radius: 10px;
}
.FONDOPACIENTES{
    display: flex;
    gap: 30px;
    margin-left: 10px;
    flex: 1; /* Hacer que el contenedor de mensajes ocupe todo el espacio disponible */
}

.messages-list::-webkit-scrollbar-thumb {
    background: #888; /* Color de la parte deslizable */
    border-radius: 10px;
}

.messages-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color al pasar el mouse */
}

textarea {
    resize: none;
}


/* Estilo del scrollbar */
body::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #888; /* Color de la parte deslizable */
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color al pasar el mouse */
}

.chat-list {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    background-color: var(--background-colorr);
    padding: 10px;
    border-radius: 10px;
}

.chat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--element-back-color);
    border-radius: 10px; /* Bordes redondeados para un look moderno */
    border: 1px solid var(--border-color); /* Línea de separación */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.chat-item:hover {
    background-color: var(--color-menu-hover);
    transform: scale(1.02); /* Efecto de aumento al pasar el mouse */
}

.chat-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-item .chat-name {
    font-size: 1.1em;
    color: var(--color-texto);
    flex-grow: 1;
}

.chat-item .chat-time {
    font-size: 0.9em;
    color: var(--color-texto-menu);
}

label{
    color: var(--texto);
}

/* Estilo para el borde violeta cuando se habilita la edición */
.info-group input:enabled,
.info-group select:enabled,
.info-group textarea:enabled {
    border: 1px solid #7c3ed6;  /* Camb ia el borde a violeta */
    outline: none; /* Opcional: elimina el borde por defecto del foco */
}

/* Si quieres que el borde vuelva a su color original cuando no está en edición */
.info-group input:disabled,
.info-group select:disabled,
.info-group textarea:disabled {
    border: 1px solid var(--color-borde-input); /* Color original del borde */
}
