* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('./landing-page/FONDOLANDING.png'); /* Cambia esto por la ruta de tu imagen local */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    color: #fff;
    background-color: #000; /* Fondo negro si no se carga la imagen */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    font-size: 28px; /* Tamaño ajustado */
    font-weight: bold;
}

.nav {
    display: flex;
}

.nav-button {
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer; 
    font-size: 14px; 
}

.btn-outline {
    background-color: transparent; 
    border: 2px solid #fff; 
    color: #fff; 
    font-weight: bold;
}

.btn-filled {
    background-color: #ffffff; /* Fondo de color */
    color: #000000; /* Texto negro */
    border: none; /* Sin borde */
    font-weight: bold;
}

.btn-outline:hover {
    background-color: #fff; 
    color: #A145B8; /* Color del texto al pasar el ratón */
}

.btn-filled:hover {
    background-color: #fff; 
    color: #A145B8; /* Color del texto al pasar el ratón */
}

.main-content {
    margin-top: 150px; /* Espacio superior ajustado para que esté más abajo */
    padding-left: 50px; /* Espacio a la izquierda para alinear */
}

.title {
    font-size: 40px; /* Tamaño ajustado */
    line-height: 1.2; /* Ajuste para el espacio entre líneas */
    margin-bottom: 20px;
}
/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #9147FF;
    --fs-size: 2em;

    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: rgb(182, 182, 182);
    border-left: var(--radius);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  .hover-text.active{
    border-radius: 0px;
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  .start-button {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #9147FF;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    font-weight: bold;
    margin-top: 30px;
}

.start-button:hover {
    box-shadow: 7px 5px 56px -14px #ae78ff;
}