@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*Colores*/
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /*Transisiones*/
    --tran-03: all 0.2s ease;
    --tran-03:all 0.3s ease;
    --tran-04:all 0.4s ease;
    --tran-05:all 0.5s ease;
}
body{
    height: 100vh;
    background: var(--body-color);
}
/*Css reusable*/
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
/*Sidebar*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
}
.sidebar li{
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
    align-items: center;
    display: flex;
}
.sidebar li .icon{
    align-items: center;
    display: flex;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-03);
}


.sidebar header{
    position: relative;
}
.sidebar .imagetext img{
width: 40px;
border-radius: 6px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.header .image-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 600;
}
.header-text .profession{
    margin-top: -2px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}
.sidebar .search-box{
    background: var(--primary-color-light);
}
.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100% ;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.sidebar .li a:hover{
    background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover text{
    color: var(--sidebar-color);
}