@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;

}
body {
    line-height: 1.6;
    overflow-x: hidden;  
    background-color: #000000;
    /*background:  url(../images/landingPageFondo.jpg) no-repeat center center/cover;*/
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0; 
    z-index: 10; 
}
nav {
    display: flex;
    gap: 20px;
}
.logoTexto {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.imagenLogo {
    width: 120px;
    margin-right: 10px;
}
header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 0.5rem 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: white; /* Cambia el color a blanco */
}

.home {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenidoHome {
    max-width: 700px;
    text-align: left;
    margin-left: 0; /* Asegura que esté alineado al borde izquierdo */
    padding-left: 0; /* Asegura que no haya espacio adicional */
    margin-top: 100px;
    /*display: inline-block;*/
}
.titleContenidoHome{
    display: flex;
}

.tituloHome {
    font-size: 60px;
    line-height: 1.2;
    margin-left: 0; /* Alinea el <h1> completamente a la izquierda */
    margin-top: 30px;
    
}

.start-btn {
    background-color: #7C3ED6;
    color: rgb(39, 39, 39);
    padding: 12px 50px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}
.start-btn:hover {
    background-color: #8845ee;
}

.estadisticas {
    display: flex; /* Hacer del contenedor un flexbox */
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si no hay espacio */
    gap: 40px;
    justify-content: center;
    padding-top: 70px;
}
.stat {
    text-align: center;
}

.cajaNumero{
    background-color: #7C3ED6;
    width: 220px;
    height: 180px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.numero{
    color: #130D17;
    font-size: 60px;
    font-weight: bold;
}
.textoEstadisticas{
    color: #7C3ED6;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 0;
    max-width: 218px;
}

footer {
    background-color: #7C3ED6;
    color: #130D17;
    text-align: center;
}

footer nav a {
    color: #130D17;
    margin: 0 1rem;
    text-decoration: none;
}
.derechos{
    color: #130D17;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #130D17;
}

.social-media a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


.iniciar-sesion{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 14px
}


.crear-cuenta{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.estrellas{
    width: 120px;
    margin-left: 850px;
}

.paloIzq{
    width:100px;
    height: 200px;
    margin-bottom: 20px;
}









/* Cartas de Quienes Somos ORT/4TO/TIC/IA*/ 
.cardNosotros {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .cardContent {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .cardContent .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .cardContent .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #caa6ff 0%, #7C3ED6 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .cardContent .backContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #251242 0%, #9954ff 100% );
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateY(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    font-size: 12px;
}

.cardContent .backContent .heading {
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
}

.cardContent:hover .backContent {
    transform: translateY(0);
}

.cardContent:hover .front-content {
    transform: translateY(-30%);
    font-size: 5px;
}

.cardContent:hover .front-content p {
    opacity: 0;
}


/*Collage de fotos nuestras*/
.collage {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-template-rows: repeat(3, 200px);  /* 3 filas de 200px */
    gap: 20px; /* Espacio entre imágenes */
    padding: 200px 60px;
    max-width: 100%; /* Ancho máximo del collage */
    justify-content: center;
}

.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; /* Bordes redondeados */
}
/* Personalización de tamaños de imagen para el collage */
.collage img:nth-child(1) {
    grid-column: span 2; /* Ocupa 2 columnas */
    grid-row: span 1;     /* Ocupa 2 filas */
}

.collage img:nth-child(2) {
    grid-column: span 1; /* Ocupa 2 columnas */
    grid-row: span 2;     /* Ocupa 2 filas */
}

.collage img:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
}

.collage img:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
}

.collage img:nth-child(5){
    grid-column: span 1;
    grid-row: span 2;
}

.collage img:nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
}

/*Roles nuestros*/
div.contenedorRoles {
    display: flex; /* Hacer del contenedor un flexbox */
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si no hay espacio */
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.center-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #130D17;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.logoRoles{
    width: 60px;
}

/* Estilo específico para cada sección     */
.ux-ui {
    grid-area: 1 / 2 / 2 / 3;
}

.front-end {
    grid-area: 2 / 1 / 3 / 2;
}

.ia {
    grid-area: 2 / 2 / 3 / 3;
}

.back-end {
    grid-area: 3 / 1 / 4 / 2;
}

    .item {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 12px;
  gap: 12px;
  border-radius: 15px;
  cursor: pointer;
  color: #000000;
}

.item::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #7C3ED6 0%, #b17dff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.item::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #7C3ED6 0%, #b17dff 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(40px);
}

.headingItem {
  font-size: 14px;
  font-weight: 800;
}

.item p:not(.headingItem) {
  font-size: 20px;
  color: #000000;
}

.item p:not(::after) {
  font-size: 0px;
  color: #ffffff;
}
.item p:last-child {
  color: #ffffff;
}

.item:hover::after {
  filter: blur(50px);
}

.item:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.item:hover {
  transform: scale(1);
}

.titleItem{
color:white;
}

.headingItem{
color:black;
font-size:16px;
}
.name{
color:#d3b5ff;
font-size:16px;

}

/*Imagenes de Malaria*/
.containerMalaria {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.titleMalaria {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.gridMalaria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.itemIMG {
    border-radius: 10px;
    overflow: hidden;
    background-color: #444;
}

.itemIMG img {
    width: 100%;
    height: auto;
    display: block;
}

/*Cartas de de que se trata nuestro proyecto*/

/* Estilos específicos para la sección */
.infoProyecto {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    margin: 050px;
}

.cardInfo {
    background-color: #1c1c1e;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    width: 30%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.cardInfo:hover {
    transform: translateY(-10px);
}

.cardInfo img {
    width: 50px;
    margin-bottom: 1rem;
}

.cardTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.cardSubtitle {
    font-size: 1rem;
    color: #b3b3b3;
    text-align: center;
}


.videoDemo{
    width: 100%;
    height: 100%;
    padding:  70px ;
    opacity: 0.7;
}
.videodemocontainer{
    width: 100%;
    height: 50px;
    padding: 0 70px ;
    align-items: center;
    justify-content: center;
}


.containerDeCartas{
    display: flex; /* Hacer del contenedor un flexbox */
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si no hay espacio */
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.cardNosotros{
    background-color: #1f1f1f;
    width: 230px;
    height: 230px;
}


.curved-section {
    background-color: #130D17; /* Color morado como en la imagen */
    height: 200px; /* Ajustar según necesites */
    clip-path: ellipse(75% 100% at 50% 0); /* Crear la curva */
    margin-bottom: 60px;
}